<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.susuma.board.model.BoardMapper">

	<select id="selectBoards" parameterType="map" resultType="com.susuma.board.model.BoardDTO">
		SELECT B.BO_NO, B.ME_NO, B.TYPE, B.TITLE, B.CONTENT, B.INSERT_TIME, B.UPDATE_TIME, B.ANSWER, B.ANSWER_INSERT_TIME, B.ANSWER_UPDATE_TIME
		, M.NAME
		FROM BOARD B
		JOIN MEMBER M ON M.ME_NO = B.ME_NO
		<choose>
			<when test=' type.equals("myask") '>
				WHERE B.TYPE = 'ask' AND B.ME_NO = <choose><when test="meNo != null and meNo != ''">CAST(#{meNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
			</when>
			<otherwise>
				WHERE B.TYPE = #{type}
			</otherwise>
		</choose>
		<if test='answerCheck != NULL and answerCheck.equals("yes")'>
			AND B.ANSWER IS NOT NULL
		</if>
		<if test='answerCheck != NULL and answerCheck.equals("no")'>
			AND B.ANSWER IS NULL
		</if>
		<if test="title != null and title != ''">
			AND title LIKE '%' || #{title} || '%'
		</if>
		ORDER BY B.${sortField} ${sortOrder} NULLS LAST
		LIMIT (#{endRow} - #{startRow} + 1) OFFSET (#{startRow} - 1)
	</select>

	<select id="countBoards" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM BOARD B
		JOIN MEMBER M ON M.ME_NO = B.ME_NO
		<choose>
			<when test=' type.equals("myask") '>
				WHERE B.TYPE = 'ask' AND B.ME_NO = <choose><when test="meNo != null and meNo != ''">CAST(#{meNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
			</when>
			<otherwise>
				WHERE B.TYPE = #{type}
			</otherwise>
		</choose>
		<if test="answerCheck != NULL and answerCheck.equals('yes')">
			AND B.ANSWER IS NOT NULL
		</if>
		<if test="answerCheck != NULL and answerCheck.equals('no')">
			AND B.ANSWER IS NULL
		</if>
		<if test="title != null and title != ''">
			AND title LIKE '%' || #{title} || '%'
		</if>
	</select>

	<select id="selectBoard" resultType="com.susuma.board.model.BoardDTO">
		SELECT * FROM BOARD WHERE BO_NO = <choose><when test="boNo != null and boNo != ''">CAST(#{boNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
	</select>

	<insert id="insertBoard" parameterType="com.susuma.board.model.BoardDTO">
		INSERT INTO BOARD(BO_NO, ME_NO, TYPE, TITLE, CONTENT)
		VALUES(
		nextval('board_seq'),
		<choose><when test="meNo != null and meNo != ''">CAST(#{meNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>,
		#{type}, #{title}, #{content}
		)
	</insert>

	<update id="updateBoard" parameterType="com.susuma.board.model.BoardDTO">
		UPDATE BOARD SET TITLE=#{title}, CONTENT=#{content}, UPDATE_TIME = NOW()
		WHERE BO_NO = <choose><when test="boNo != null and boNo != ''">CAST(#{boNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
	</update>

	<delete id="deleteBoard" parameterType="string">
		DELETE FROM BOARD
		WHERE BO_NO = <choose><when test="boNo != null and boNo != ''">CAST(#{boNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
	</delete>

	<insert id="askWrite" parameterType="com.susuma.board.model.BoardDTO">
		INSERT INTO BOARD(BO_NO, ME_NO, TITLE, CONTENT, TYPE)
		VALUES(
		nextval('board_seq'),
		<choose><when test="meNo != null and meNo != ''">CAST(#{meNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>,
		#{title}, #{content}, #{type}
		)
	</insert>

	<select id="askView" resultType="com.susuma.board.model.BoardDTO">
		SELECT * FROM BOARD WHERE BO_NO = <choose><when test="boNo != null and boNo != ''">CAST(#{boNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
	</select>

	<select id="getPreNext" resultType="com.susuma.board.model.BoardDTO">
		SELECT * FROM (
		SELECT
		BO_NO,
		LEAD(BO_NO, 1, 9999) OVER(ORDER BY BO_NO) AS next,
		LAG(BO_NO, 1, 9999) OVER(ORDER BY BO_NO) AS last,
		TITLE,
		LEAD(TITLE, 1, 9999) OVER(ORDER BY BO_NO) AS nexttitle,
		LAG(TITLE, 1, 9999) OVER(ORDER BY BO_NO) AS lasttitle
		FROM BOARD
		WHERE TYPE = 'notice'
		ORDER BY BO_NO DESC
		) AS A
		WHERE A.BO_NO = <choose><when test="boNo != null and boNo != ''">CAST(#{boNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
	</select>

	<update id="insertReply" parameterType="com.susuma.board.model.BoardDTO">
		UPDATE BOARD
		SET
		ANSWER = #{answer},
		ANSWER_INSERT_TIME = CASE
		WHEN ANSWER_INSERT_TIME IS NULL THEN NOW()
		ELSE ANSWER_INSERT_TIME
		END,
		ANSWER_UPDATE_TIME = CASE
		WHEN ANSWER_INSERT_TIME IS NOT NULL THEN NOW()
		ELSE ANSWER_UPDATE_TIME
		END
		WHERE BO_NO = <choose><when test="boNo != null and boNo != ''">CAST(#{boNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
	</update>

	<delete id="askDelete" parameterType="string">
		DELETE FROM BOARD
		WHERE BO_NO = <choose><when test="boNo != null and boNo != ''">CAST(#{boNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
	</delete>

</mapper>