<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.susuma.request.model.RequestMapper">

	<select id="selectRequests" parameterType="map" resultType="com.susuma.request.model.RequestDTO">
		SELECT R.REQ_NO, R.REQUEST_DATE, R.REQUEST_TIME, R.STATUS, R.PAY_STATUS, R.PAY_AMOUNT, R.CONTENT, R.INSERT_TIME,
		R.MASTER_NO, MM.NAME AS MASTER_NAME, MM.PROFILE_PHOTO AS MASTER_PROFILE_PHOTO, MM.ADDRESS AS MASTER_ADDRESS,
		R.CLIENT_NO, MC.NAME AS CLIENT_NAME, MC.PROFILE_PHOTO AS CLIENT_PROFILE_PHOTO, R.ADDRESS AS CLIENT_ADDRESS, R.ADDRESS_DETAIL AS CLIENT_ADDRESS_DETAIL,
		C.CA_NO, C.CA_NAME, CR.CA_NO AS CA_ROOT_NO, CR.CA_NAME AS CA_ROOT_NAME,
		(SELECT COUNT(*) FROM REVIEW WHERE REQ_NO = R.REQ_NO) AS reviewCnt,
		RE.CONTENT AS REVIEW_CONTENT, RE.STAR_SCORE,
		(CURRENT_DATE - to_date(substring(R.REQUEST_DATE, 1, 11), 'YYYY. MM. DD')) AS DAYSDIFF
		FROM REQUEST R
		JOIN MEMBER MC ON R.CLIENT_NO = MC.ME_NO
		JOIN MEMBER MM ON R.MASTER_NO = MM.ME_NO
		LEFT JOIN CATEGORY C ON C.CA_NO = MM.CA_NO
		LEFT JOIN CATEGORY CR ON CR.CA_NO = C.ROOT_NO
		LEFT JOIN REVIEW RE ON RE.REQ_NO = R.REQ_NO
		WHERE 1 = 1
		<if test="clientNo != null">
			AND MC.ME_NO = #{clientNo}
		</if>
		<if test="masterNo != null">
			AND MM.ME_NO = #{masterNo}
		</if>
		<if test="status != null and status != 'all'">
			AND R.STATUS = #{status}
		</if>
		<if test="sortField == 'R.REQUEST_DATE'">
			ORDER BY R.REQUEST_DATE ${sortOrder}, R.REQUEST_TIME ${sortOrder} NULLS LAST
		</if>
		<if test="sortField != 'R.REQUEST_DATE'">
			ORDER BY ${sortField} ${sortOrder} NULLS LAST
		</if>
		LIMIT #{limit} OFFSET #{offset}
	</select>

	<select id="countRequests" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM REQUEST R
		JOIN MEMBER MC ON R.CLIENT_NO = MC.ME_NO
		JOIN MEMBER MM ON R.MASTER_NO = MM.ME_NO
		WHERE 1 = 1
		<if test="clientNo != null">
			AND MC.ME_NO = #{clientNo}
		</if>
		<if test="masterNo != null">
			AND MM.ME_NO = #{masterNo}
		</if>
		<if test="status != null and status != 'all'">
			AND R.STATUS = #{status}
		</if>
	</select>

	<select id="getNewRequestCount" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM REQUEST R
				 JOIN MEMBER MC ON R.CLIENT_NO = MC.ME_NO
				 JOIN MEMBER MM ON R.MASTER_NO = MM.ME_NO
		WHERE MM.ME_NO = #{meNo} AND R.STATUS = 'requested'
	</select>

	<select id="selectRequestCnts" parameterType="map" resultType="com.susuma.request.model.RequestDTO">
		SELECT
		COUNT(*) AS allCnt,
		COUNT(*) FILTER (WHERE R.STATUS = 'requested') AS requestedCnt,
		COUNT(*) FILTER (WHERE R.STATUS = 'approved') AS approvedCnt,
		COUNT(*) FILTER (WHERE R.STATUS = 'paywait') AS paywaitCnt,
		COUNT(*) FILTER (WHERE R.STATUS = 'paid') AS paidCnt,
		COUNT(*) FILTER (WHERE R.STATUS = 'cancel') AS cancelCnt
		FROM REQUEST R
		WHERE 1 = 1
		<if test="clientNo != null">
			AND CLIENT_NO = #{clientNo}
		</if>
		<if test="masterNo != null">
			AND MASTER_NO = #{masterNo}
		</if>
	</select>

	<select id="selectRequest" parameterType="map" resultType="com.susuma.request.model.RequestDTO">
		SELECT R.REQ_NO, R.REQUEST_DATE, R.REQUEST_TIME, R.STATUS, R.PAY_STATUS, R.PAY_AMOUNT, R.CONTENT, R.INSERT_TIME, R.PAID_TIME,
		R.LATITUDE, R.LONGITUDE,
		R.MASTER_NO, MM.NAME AS MASTER_NAME, MM.PROFILE_PHOTO AS MASTER_PROFILE_PHOTO, MM.ADDRESS AS MASTER_ADDRESS, MM.PHONE_NUM AS MASTER_PHONE_NUM,
		R.CLIENT_NO, MC.NAME AS CLIENT_NAME, MC.PROFILE_PHOTO AS CLIENT_PROFILE_PHOTO, R.ADDRESS AS CLIENT_ADDRESS, R.ADDRESS_DETAIL AS CLIENT_ADDRESS_DETAIL, R.PHONE_NUM AS CLIENT_PHONE_NUM,
		C.CA_NO, C.CA_NAME, CR.CA_NO AS CA_ROOT_NO, CR.CA_NAME AS CA_ROOT_NAME
		FROM REQUEST R
		JOIN MEMBER MC ON R.CLIENT_NO = MC.ME_NO
		JOIN MEMBER MM ON R.MASTER_NO = MM.ME_NO
		LEFT JOIN CATEGORY C ON C.CA_NO = MM.CA_NO
		LEFT JOIN CATEGORY CR ON CR.CA_NO = C.ROOT_NO
		WHERE 1 = 1
		<if test="reqNo != null">
			AND R.REQ_NO = #{reqNo}
		</if>
	</select>

	<insert id="insertRequest" parameterType="com.susuma.request.model.RequestDTO">
		<selectKey keyProperty="reqNo" resultType="int" order="BEFORE">
			SELECT nextval('request_seq')
		</selectKey>
		INSERT INTO REQUEST (REQ_NO, MASTER_NO, CLIENT_NO, CONTENT, REQUEST_DATE, REQUEST_TIME, ADDRESS, ADDRESS_DETAIL, LATITUDE, LONGITUDE, PHONE_NUM)
		VALUES (#{reqNo}, #{masterNo}, #{clientNo}, #{content}, #{requestDate}, #{requestTime}, #{address}, #{addressDetail}, #{latitude}, #{longitude}, #{phoneNum})
	</insert>

	<update id="updateRequest" parameterType="com.susuma.request.model.RequestDTO">
		UPDATE REQUEST
		SET
		<if test="status != null">
			STATUS = #{status},
			<if test="status == 'approved'.toString()">
				APPROVAL_TIME = NOW()
			</if>
			<if test="status == 'paywait'.toString()">
				PAY_AMOUNT = #{payAmount},
				PAY_REQUEST_TIME = NOW()
			</if>
			<if test="status == 'paid'.toString()">
				PAY_STATUS = 'Y',
				PAID_TIME = NOW()
			</if>
			<if test="status == 'cancel'.toString()">
				CANCEL_TIME = NOW()
			</if>
		</if>
		REQ_NO = REQ_NO -- 더미 라인, SET 절 마지막의 콤마 문제 방지
		WHERE REQ_NO = #{reqNo}
	</update>

	<update id="updateMemberPoints" parameterType="com.susuma.request.model.RequestDTO">
		UPDATE MEMBER
		SET POINT = POINT - #{payAmount}
		WHERE ME_NO = #{meNo}
	</update>

	<delete id="deleteRequest" parameterType="string">
		DELETE FROM REQUEST
		WHERE REQ_NO = #{reqNo}
	</delete>

</mapper>