<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.susuma.review.model.ReviewMapper">

	<select id="selectReviews" parameterType="map" resultType="com.susuma.review.model.ReviewDTO">
		SELECT RE.*, MASTER_NO, MM.NAME AS MASTER_NAME, MM.PROFILE_PHOTO AS MASTER_PROFILE_PHOTO, MM.ADDRESS AS MASTER_ADDRESS,
		CLIENT_NO, MC.NAME AS CLIENT_NAME, MC.PROFILE_PHOTO AS CLIENT_PROFILE_PHOTO, REQ.ADDRESS AS CLIENT_ADDRESS, REQ.ADDRESS_DETAIL AS CLIENT_ADDRESS_DETAIL,
		REQ.REQUEST_DATE, REQ.REQUEST_TIME,
		C.CA_NO, C.CA_NAME, CR.CA_NO AS CA_ROOT_NO, CR.CA_NAME AS CA_ROOT_NAME
		FROM REVIEW RE
		JOIN REQUEST REQ ON RE.REQ_NO = REQ.REQ_NO
		JOIN MEMBER MM ON MM.ME_NO = REQ.MASTER_NO
		JOIN MEMBER MC ON MC.ME_NO = REQ.CLIENT_NO
		LEFT JOIN CATEGORY C ON C.CA_NO = MM.CA_NO
		LEFT JOIN CATEGORY CR ON CR.CA_NO = C.ROOT_NO
		WHERE 1 = 1
		<if test="clientNo != null and clientNo != ''">
			AND MC.ME_NO = <choose><when test="clientNo != ''">CAST(#{clientNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
		</if>
		<if test="masterNo != null and masterNo != ''">
			AND MM.ME_NO = <choose><when test="masterNo != ''">CAST(#{masterNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
		</if>
		ORDER BY ${sortField} ${sortOrder} NULLS LAST
		LIMIT (#{endRow} - #{startRow} + 1) OFFSET (#{startRow} - 1)
	</select>

	<select id="countReviews" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM REVIEW RE
		JOIN REQUEST REQ ON RE.REQ_NO = REQ.REQ_NO
		JOIN MEMBER MM ON MM.ME_NO = REQ.MASTER_NO
		JOIN MEMBER MC ON MC.ME_NO = REQ.CLIENT_NO
		WHERE 1 = 1
		<if test="clientNo != null and clientNo != ''">
			AND MC.ME_NO = <choose><when test="clientNo != ''">CAST(#{clientNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
		</if>
		<if test="masterNo != null and masterNo != ''">
			AND MM.ME_NO = <choose><when test="masterNo != ''">CAST(#{masterNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
		</if>
	</select>

	<select id="selectReview" parameterType="map" resultType="com.susuma.review.model.ReviewDTO">
		SELECT RE.RE_NO, RE.REQ_NO, RE.CONTENT, RE.STAR_SCORE, RE.INSERT_TIME AS INSERT_TIME, RE.UPDATE_TIME AS UPDATE_TIME,
		MASTER_NO, MM.NAME AS MASTER_NAME, MM.PROFILE_PHOTO AS MASTER_PROFILE_PHOTO, MM.ADDRESS AS MASTER_ADDRESS,
		CLIENT_NO, MC.NAME AS CLIENT_NAME, MC.PROFILE_PHOTO AS CLIENT_PROFILE_PHOTO, REQ.ADDRESS AS CLIENT_ADDRESS
		FROM REVIEW RE
		JOIN REQUEST REQ ON RE.REQ_NO = REQ.REQ_NO
		JOIN MEMBER MM ON MM.ME_NO = REQ.MASTER_NO
		JOIN MEMBER MC ON MC.ME_NO = REQ.CLIENT_NO
		WHERE 1 = 1
		<if test="reqNo != null and reqNo != ''">
			AND RE.REQ_NO = <choose><when test="reqNo != ''">CAST(#{reqNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
		</if>
	</select>

	<insert id="insertReview" parameterType="com.susuma.review.model.ReviewDTO">
		INSERT INTO REVIEW (RE_NO, REQ_NO, CONTENT, STAR_SCORE)
		VALUES (
		nextval('review_seq'),
		<choose><when test="reqNo != null and reqNo != ''">CAST(#{reqNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>,
		#{content},
		<choose><when test="starScore != null and starScore != ''">CAST(#{starScore} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
		)
	</insert>

	<update id="updateReview" parameterType="com.susuma.review.model.ReviewDTO">
		UPDATE REVIEW
		SET
		CONTENT = #{content},
		STAR_SCORE = <choose><when test="starScore != null and starScore != ''">CAST(#{starScore} AS INTEGER)</when><otherwise>NULL</otherwise></choose>,
		UPDATE_TIME = NOW()
		WHERE RE_NO = <choose><when test="ReNo != null and ReNo != ''">CAST(#{ReNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
	</update>

	<delete id="deleteReview" parameterType="string">
		DELETE FROM REVIEW
		WHERE RE_NO = <choose><when test="ReNo != null and ReNo != ''">CAST(#{ReNo} AS INTEGER)</when><otherwise>NULL</otherwise></choose>
	</delete>

</mapper>